.navigation__search {
  height: 1.5625rem;
  width: 6.25rem;
  margin: auto 0;

  background-color: #ffffff;
  border: 0;
  border-radius: .125rem;

  text-transform: uppercase;
  color: red;
  font-weight: 700;
}