.main-search {
  padding: 0 100px;
  &__h1 {
    font-family: Arial, sans-serif ;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
  }
  &__input {
    position: relative;
    width: 100%;
    background-color: #000000;
    border: none;
    border-bottom: 2px solid red;
    height: 35px;

    color: #ffffff;
    padding-left: 20px;
    font-size: 20px;
  }
  &__input::after{
    //content: "&#8629;";
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 10px;
    left: 50px;
    background-color: white;

  }
  &__input::placeholder {

    font-size: 20px;
    line-height: 35px;
  }
}