%film-layout-child-shared {
  font-family: Arial, sans-serif;
  font-size: .75rem;
  color: #808080;
}

.film-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0 3.125rem;

  &__cover {
    width: 15.63rem;
  }

  &__title {

    font-family: Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: .625rem;
    max-width: 60%;

  }

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__title-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;

    margin-top: .3125rem;
    width: 15.63rem;
  }

  &__year {
    @extend %film-layout-child-shared;
    display: block;
    border: .0625rem solid #808080;
    margin-right: .625rem;
    padding: .0625rem .3125rem;
  }

  &__genre {
    @extend %film-layout-child-shared;
    margin-left: .625rem;
  }

  &__item {
    margin-bottom: 3.125rem;
    padding: 0 3.125rem;
    position: relative;
    width: 16.66rem;
  }
}
