.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: #696969;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 75rem;
  min-height: 3.125rem;

  &__logo {
    width: 6.25rem;
    margin: auto 0;
    padding-left: 6.25rem;
  }
}
