%label-shared {
  padding: .3125rem .9375rem;
  margin-right: .9375rem;
  font-family: Arial, sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  border: 0;
  border-radius: .125rem;
  background-color: gray;
}

.search-by {

  &__header {
    font-family: Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    margin-right: .9375rem;
  }

  &__title-label,
  &__genre-label {
    @extend %label-shared
  }

  &__title-input,
  &__genre-input {
    display: none;
  }

  &__header {

    text-transform: uppercase;
  }
}

.label-chosen {
  background-color: red;
}
