%info-block-child-shared {
  font-family: Arial, sans-serif;
  color: #ffffff;
}

.info-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 3.125rem;

  &__description {
    width: 50%;
    margin-left: 6.25rem;
    margin-right: auto;

    @extend %info-block-child-shared;
  }

  &__title {
    font-family: Arial, sans-serif;
    color: red;
  }

  &__sub-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1.25rem;
    width: 25%;
    font-weight: 600;

    @extend %info-block-child-shared;
  }


}