.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #696969;
  min-height: 50px;
  &__logo {
    width: 100px;
    margin: auto 0;
    padding-left: 100px;
  }
}